
<br />
<script src="~/js/Restaurant/index.js" type="text/javascript"></script>

<form method="post">
    <div class="row">
        <div class="col text-center">
            <label for="groupSelect">Groupe : </label>
            <select id="groupSelect" name="groupSelect"></select>
        </div>
        <div class="col text-center">
            <label for="restaurantSelect">Restaurant : </label>
            <select id="restaurantSelect" name="restaurantSelect"></select>
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col text-center">
            <button asp-action="getDetails" asp-controller="Restaurant" asp-route-idGroup="coucou" asp-route-idRestaurant="coucou2" name="detailsButton" class="btn btn-primary" >Obtenir Détails</button>
        </div>
        <div class="col text-center">
            <button asp-action="changeDish" asp-controller="Restaurant" name="dishButton" class="btn btn-primary">Choisir des plats</button>
        </div>
        <div class="col text-center">
            <button asp-action="changeMenu" asp-controller="Restaurant" name="menuButton" class="btn btn-primary">Composer des menus</button>
        </div>
    </div>


</form>
