
<div class="row">
<div class="col text-center">
<a asp-controller="Client"  class="btn btn-primary" role="button">Partie Client</a>
</div>
<div class="col text-center">
<a asp-controller="Restaurant" class="btn btn-success" role="button">Partie Restaurant</a>
</div>
<div class="col text-center">
<a asp-controller="Group" class="btn btn-danger" role="button">Partie Groupe</a>
</div>
</div>
